.navbar-icon {
  margin-right: 10px;
  margin-bottom: 3px;
}
.container {
  text-align: center;
  position: center;
  min-width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}
.navbar-brand {
  margin-left: 15px;
  font-family: Consolas;
}
nav{
  margin-left: -15px;
  margin-right: -10px;
  color: purple;
}
label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
  color: white;
}

.input-form{
  border-radius: 20px;
  width: 300px;
}
option {
  background: #ffffff;
  color: green;
}

select option:checked,
select option:focus {
  background: linear-gradient(green, green);
  -webkit-text-fill-color: #ffffff;
  color: #ffffff;
}

.card {
  background-color: bisque;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.panel-container {
  background-color: #02134C;
  margin: 50px auto 25px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
  max-width: 2000px;
  padding: 40px;
  color: white;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

.input {
  text-align: center;
  margin-top: 20px;
  width: 300px;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
  border-radius : 20px;
  margin-bottom: 20px;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  background-color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-weight: normal;
  color: #495057;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: .5em;
  margin-bottom: 50px;
}

@keyframes pulse {
  0% {
    background-color: rgba(165, 165, 165, 0.1)
  }
  50% {
    background-color: rgba(165, 165, 165, 0.3)
  }
  100% {
    background-color: rgba(165, 165, 165, 0.1)
  }
}

.p-multiselect {
  min-width: 15rem;
}

.multiselect-custom .p-multiselect-label:not(.p-placeholder):not(.p-multiselect-items-label) {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.multiselect-custom .country-item-value {
  padding: .25rem .5rem;
  border-radius: 3px;
  display: inline-flex;
  margin-right: .5rem;
  background-color: var(--primary-color);
  color: var(--primary-color-text);
}

.multiselect-custom .country-item-value img.flag {
  width: 17px;
}

.p-dropdown {
  width: 15rem;
}

.searchInputs {
  margin-top: 105px;
  display: flex;
}

.search input {
  background-color: white;
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 300px;
}

.carousel-demo .phase-item .phase-item-content {
  border: 1px solid var(--surface-d);
  border-radius: 3px;
  margin: .3rem;
  text-align: center;
  padding: 2rem 0;
}

.carousel-demo .phase-item .phase-image {
  width: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}